/* All */

*{
    margin: 0;
}

/* HTML tag styles */

body{
    font-family: 'Roboto', sans-serif;
}

span{
    color: orange;
}

button{
    padding: 15px 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right, orange, red);
    color: white;
    border: 0px white;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(255, 166, 0, 0.671);
}

footer{
    text-align: center;
    background-color: black;
    padding: 25px 0 150px 0;
}

footer h3{
    padding-top: 25px;
}

footer p{
    padding-top: 50px;
}

/* Classes */

/* Font Sizes */

.firstHeaderSize{
    font-size: 80px;
    font-weight: 700;
}

.secHeaderSize{
    font-size: 60px;
    font-weight: 700;
}

.thiHeaderSize{
    font-size: 40px;
    font-weight: 700;
}

.paraFontSize{
    font-size: 25px;
}

/* Colors */

.textColorBlack{
    color: black;
}

.textColorGray{
    color: #555656;
}

.textColorWhite{
    color: white;
}

/* Display */

.flexSec{
    display: flex;
}

/* Container Style */

.firstSecStyle{
    display: flex;
    margin: 15px 45px;
    padding: 15px 35px;
    align-items: center;
}

.firstSecStyle p{
    padding: 50px 0 50px 0;
}

.secSecStyle{
    display: flex;
    margin-bottom: 100px;
    padding: 0 35px;
    align-items: center;
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.secSecStyle p{
    padding: 50px 0 50px 0;
}

.midSecStyle{
    margin: 100px 148px 100px 148px;
    padding: 100px 0px 100px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

/* Text Style */

.firstTextStyle{
    width: 50%;
    padding: 20px;
}

.secTextStyle{
    width: 35%;
}

.lastTextStyle{
    padding: 50px 400px 50px 400px;
}

.textCenter{
    text-align: center;
}

/* Images Styles */

.firstImgStyle{
    width: 50%;
}

.firstImgStyle img{
    width: 100%;
}

.secImgStyle{
    width: 50%;
    margin-top: 50px;
}

.secImgStyle img{
    width: 300px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.flexSec img{
    height: 400px;
    width: 700px;
    border-radius: 25px;
}

.imgConStyle{
    padding: 40px 40px 80px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    width: 700px;
}

.imgConStyle h1{
    padding: 50px 0 25px 0;
}

.imgMidStyle{
    padding: 0 120px 0 120px;
}

.centerCon{
    margin-left: auto;
    margin-right: auto;
}